.demo-preview-code-box {
	height: 650px;
	overflow: auto;
	width: 100%;
	background-color: #dedede;
	border: none
}

.demo-preview-code-box.light-original-code-box {
	background-color: #f4f4f4
}

.demo-preview-code-box.cs-bing-visual-search {
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	max-height: 430px
}

.demo-preview-code-box .cs-demo-json pre {
	overflow: visible;
	margin-top: 0
}

.demo-preview-code-box .cs-text-analytics-json {
	padding: 0
}

.demo-preview-code-box .cs-demo-preview {
	padding: 12px;
	clear: both
}

.demo-preview-code-box .cs-demo-preview .imgThumbnail {
	width: 178px;
	height: 178px
}

.demo-preview-code-box .preview-margin {
	margin-left: 36px
}

.demo-preview-code-box .green-webpages-url {
	color: #89c402
}

.demo-preview-code-box #entity-search-preview {
	padding-top: 0;
	overflow-x: hidden;
	overflow-wrap: break-word
}

.thumbnail-results {
	background-color: #f4f4f4;
	border: 1px #969696 solid;
	padding-bottom: 75.4%;
	width: 100%;
	position: relative;
	max-height: 430px
}

.thumbnail-results .thumbnail-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.thumbnail-results .thumbnail-container img {
	float: left;
	margin: 1.8% 0 0 1.8%
}

.video-bar {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #969696
}

.video-bar-marker {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: #002050;
	z-index: 5;
	opacity: 1
}

.demo-table-code-box {
	height: 265px
}

.demo-table-data {
	background-color: #f4f4f4;
	margin-left: 12px
}

.demo-img-container {
	width: 100%
}

@media only screen and (min-width:540px) {
	.demo-img-container {
		height: 430px
	}
}

.demo-img-container .demo-img-wrapper {
	display: inline-block;
	position: relative;
	max-height: 430px;
	max-width: 100%
}

.demo-img-container .demo-img-wrapper img {
	max-width: 100%;
	max-height: inherit
}

.face-rectangle {
	position: absolute;
	border: solid 3px;
	z-index: 99
}

.face-rectangle .face-info {
	visibility: hidden;
	width: auto;
	background-color: gray;
	text-align: center;
	padding: 5px;
	position: absolute;
	z-index: 100;
	top: -5px;
	right: 110%;
	font-size: 12px
}

.face-rectangle .face-info th {
	text-align: left;
	font-weight: 600;
	padding-right: 5px
}

.face-rectangle .face-info td {
	text-align: right
}

.face-rectangle .face-info:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent gray
}

.face-rectangle:hover {
	z-index: 100
}

.face-rectangle:hover .face-info {
	visibility: visible
}

.face-rectangle:active .face-info {
	visibility: visible
}

.face-rectangle-m {
	border-color: #0078d7
}

.face-rectangle-f {
	border-color: #ba0b93
}

.face-rectangle-emo {
	border-color: #00abec
}

.demo-example-images .image-item {
	background: none;
	border: 2px solid transparent;
	margin: 0;
	padding: 0;
	max-width: 100%
}

.demo-example-images .image-item[data-selected='true'] {
	border-color: #0078d7
}

.demo-example-images .image-item[data-selected='true'] img,
.demo-example-images .image-item:hover img {
	opacity: 1
}

.demo-example-images .image-item img {
	display: block;
	opacity: .5
}

.carousel-celebrity-demo .owl-item:not(.center) .image-candidate {
	opacity: .5
}

.carousel-celebrity-demo .owl-item:not(.center) button {
	display: none
}

.carousel-celebrity-demo .image-candidate {
	width: 100%
}

.carousel-celebrity-demo .image-candidate:hover {
	opacity: 1
}

.demo-img-results {
	height: 430px;
	overflow: auto;
	width: 100%;
	background-color: #f4f4f4;
	border: 1px #969696 solid
}

.demo-img-results.cs-demo-json pre {
	background-color: #f4f4f4;
	white-space: pre-wrap;
	padding-top: 0;
	border: none
}

.demo-img-results code {
	background-color: transparent
}

.demo-img-results table {
	background-color: inherit
}

.demo-img-results table .color-square {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px #000 solid
}

.demo-img-results .error {
	margin: 12px
}

.verification-img-results {
	width: 100%;
	background-color: #f4f4f4;
	border: 1px #969696 solid;
	padding: 12px
}

.demo-json-container {
	height: 445px;
	overflow: scroll;
	width: 100%
}

.demo-json-container pre {
	border: none
}

.celebrity-search-box {
	overflow: hidden;
	position: relative;
	background-color: #fff
}

.demo-search-box-image {
	float: left;
	position: absolute;
	width: 30px;
	height: 30px;
	padding: 5px
}

.demo-text-box {
	margin-left: 30px
}

.demo-text-box input[type='text'] {
	padding-left: 0;
	border: 0
}

.carousel-container {
	position: relative;
	height: 400px;
	width: 100%;
	background-color: #525252
}

.owl-carousel.owl-carousel-off {
	display: block
}

.owl-carousel.owl-carousel-off .image-item {
	margin-bottom: 24px
}

.centered-text-with-hr {
	position: relative;
	text-align: center;
	z-index: 1
}

.centered-text-with-hr span {
	background-color: #fff;
	padding: 0 12px
}

.centered-text-with-hr:after {
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-top: 1px solid #dedede;
	content: '';
	display: block;
	height: 24px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: -1
}

.section-slate09 .centered-text-with-hr span {
	background-color: #f4f4f4
}

.video-indexer-section {
	min-height: 340px
}

.video-indexer-container span.icon {
	top: 25px
}

.linguistic-analysis-demo .demo-preview-code-box {
	height: 330px
}

.bing-autosuggest-api .demo-preview-code-box {
	height: 420px
}

.language-api-demos .demo-preview-code-box {
	height: 342px
}

.qna-maker-api .demo-preview-code-box {
	height: 340px
}

.bing-web-search-api .demo-preview-code-box {
	height: 575px
}

.bing-news-search-api .demo-preview-code-box {
	height: 550px
}

.bing-images-search-api .demo-preview-code-box {
	height: 800px
}

.bing-video-search-api .demo-preview-code-box {
	height: 728px
}

.luis-api .demo-preview-code-box {
	height: 400px
}

.bing-entity-search-api .demo-preview-code-box {
	height: 600px
}

.cs-form [type='text'] {
	padding: 7px 5px;
	width: 100%
}

.cs-form .button-upload {
	background-color: transparent;
	border: 1px solid #dedede;
	color: #1a1a1a!important;
	font-size: 16px;
	padding: 5px 0
}

.cs-form [type='file'] {
	opacity: 0;
	position: absolute;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden
}

.optional-parameters [type='number'] {
	width: 100%;
	padding: 5px
}

.search-listbox {
	margin: 12px 0 0 0
}

.search-listbox .listbox-option {
	border-top: 1px solid #f4f4f4
}

.search-listbox .listbox-option:hover button {
	font-weight: 600
}

.search-listbox .listbox-option:last-child {
	border-bottom: 1px solid #f4f4f4
}

.search-listbox .listbox-option.selected button {
	background-color: #cce8ff;
	font-weight: 600
}

.search-listbox button {
	background: none;
	border: none;
	padding: 12px;
	text-align: left;
	width: 100%
}

.search-listbox-horizontal button {
	border: 2px solid #dedede;
	padding: 6px;
	text-align: center
}

.full-row-width-button {
	width: 100%
}

.language-api-demos p {
	padding-left: 12px
}

.language-api-demos table {
	background-color: inherit
}

.user-input-language-api,
.user-input-spell-check {
	height: 290px
}

.user-input-entity-linking,
.user-input-text-api {
	height: 338px
}

.progress {
	width: 40%;
	height: 30px;
	border: 2px solid #1a1a1a;
	display: inline-block
}

.progress-bar {
	height: 100%
}

.progress-bar-green {
	background-color: #89c402
}

.progress-bar-red {
	background-color: #dd5900
}

.higlighted-text {
	text-decoration: underline;
	text-decoration: underline solid #0078d7
}

.luis-examples .row-size2 {
	margin-top: 0
}

.luis-api p {
	padding: 0
}

.luis-api .button.button-primary {
	padding-right: 0
}

.luis-api .search-listbox {
	margin: 0
}

.luis-api .user-input-luis-control {
	line-height: 2.2
}

.luis-api .tooltip-explanation {
	display: inline-block;
	float: left
}

.luis-api .tooltip-div-i-container {
	padding-top: 0;
	padding-left: 5px
}

.luis-api .image-container-luis-demo {
	height: 400px;
	clear: both
}

.luis-api .image-container-luis-demo .lamp-floor,
.luis-api .image-container-luis-demo .lamp-desk {
	display: block;
	float: left;
	height: 100%;
	vertical-align: bottom
}

.luis-api .image-container-luis-demo .lamp-floor {
	width: 37.13%
}

.luis-api .image-container-luis-demo .lamp-desk {
	width: 62.87%
}

.static-video-thumbnail,
.static-video-candidate {
	position: relative
}

.static-video-thumbnail button,
.static-video-candidate button {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%
}

.static-video-thumbnail button img,
.static-video-candidate button img {
	display: block
}

.static-video-thumbnail .play-icon,
.static-video-candidate .play-icon {
	left: 50%;
	position: absolute;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: .45
}

.static-video-thumbnail video,
.static-video-candidate video {
	width: 1170px
}

.static-video-thumbnail {
	overflow: hidden
}

.static-video-thumbnail .image-placeholder {
	width: 100%;
	height: 320px
}

#video-thumbnail .image-placeholder {
	height: 494px
}

.static-video-candidate .play-icon {
	display: none
}

.static-video-candidate .image-mask {
	background-color: rgba(0, 0, 0, .6);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

.static-video-candidate:hover .image-mask,
.static-video-candidate:hover .play-icon {
	display: block
}

.speech-demo-hidden,
#speech-demo-audios {
	display: none!important;
	visibility: hidden!important
}

#speech-demo-result {
	min-height: 20px;
	height: 300px;
	background-color: #f4f4f4;
	border: 1px solid #969696
}

.browser-incompatibility-section {
	min-height: 20px;
	height: 300px;
	background-color: #f4f4f4;
	border: 1px solid #969696
}

.browser-incompatibility-section .browser-incompatibility-text {
	margin-top: 125px
}

.speech-demo-warning {
	display: none
}

.audio-text {
	color: #1a1a1a
}

.button.svg-button.speech-demo-mic {
	background-color: #89c402;
	color: #1a1a1a!important
}

.button.svg-button.speech-demo-mic svg {
	fill: #000
}

.button.svg-button.speech-demo-mic:hover {
	background-color: #89c402
}

.button.svg-button.speech-demo-mic.listening {
	background-color: #a5ce00
}

.button.svg-button.speech-demo-playsample {
	background-color: #fff;
	border-color: #dedede;
	color: #505050!important
}

.button.svg-button.speech-demo-playsample svg {
	fill: #000
}

.speech-demo-select-language-column {
	margin-top: inherit!important;
	margin-bottom: 0!important;
	padding-bottom: 16px
}

#TextToSpeech {
	margin-top: 32px
}

.audio-box {
	height: 250px;
	padding: 0;
	background-color: #fff
}

.speaker-json-box {
	height: 298px;
	background-color: #fff;
	overflow: auto
}

.speaker-json-box pre,
.speaker-json-box code {
	background-color: inherit;
	border: none
}

#message-box {
	height: 60px;
	margin: 12px
}

.phrase-box {
	background-color: #525252;
	color: #fff;
	height: 70px
}

.phrase-box #phrase-box-content:first-letter {
	display: inline-block;
	text-transform: capitalize
}

.images-container {
	min-height: 400px;
	display: inline-block;
	float: left
}

.speaker-image-item {
	position: relative;
	height: 200px;
	width: 170px;
	float: left;
	margin-right: 5px
}

.speaker-demo-result-box {
	height: 340px;
	padding: 10px
}

.texttospeech-dropdown {
	display: inline-block;
	width: 49%
}

.speech-textarea {
	height: 250px;
	resize: none
}

.text-to-speech-play-button {
	width: 100%;
	padding: 6px 12px 7px!important
}

.text-to-speech-play-button[disabled] {
	opacity: .5
}

.text-to-speech-audio-player {
	width: 100%
}

.text-to-speech-ssml {
	position: relative
}

.text-to-speech-ssml .text-to-speech-pop-box {
	z-index: 9999;
	border: 0;
	margin-bottom: 3px;
	height: 250px;
	overflow-y: auto;
	background-color: #0086b9;
	color: #fff;
	left: 0;
	width: 100%;
	padding: 12px;
	position: absolute;
	top: -250px;
	border-style: none;
	display: block;
	word-wrap: break-word
}

@media(min-width:540px) {
	.texttospeech-dropdown {
		width: 20%
	}
}

@media(min-width:768px) {
	.text-to-speech-ssml .text-to-speech-pop-box {
		width: 125%;
		left: -12.5%
	}
}

.pop-box {
	z-index: 9999;
	border: 0;
	margin-bottom: 3px;
	width: 50%;
	min-width: 300px;
	height: 250px;
	overflow-y: auto;
	background-color: #00f;
	position: absolute;
	right: 0;
	top: 3px;
	border-style: none;
	display: block
}

.verification-circle {
	display: inline-block;
	width: 35px;
	margin: 15px;
	height: 35px;
	border: 1px solid #1a1a1a;
	border-radius: 50%;
	font-size: 15px;
	color: #1a1a1a;
	line-height: 30px;
	text-align: center;
	background: #fff
}

.verification-circle-success {
	background: #a5ce00;
	border: none
}

.verification-circle-error {
	border: 1px solid #ba141a;
	color: #ba141a
}

.search-parameters option:first-letter {
	text-transform: capitalize
}

.image-original {
	opacity: .5
}

.image-highlighted {
	opacity: 1
}

.enrollment-label {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	position: absolute
}

.enrollment-audio {
	position: absolute;
	background-color: #303030;
	color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin-bottom: 3px;
	text-align: center;
	opacity: .8
}

.enrollment-audio span.icon:hover {
	opacity: .5
}

#custom-speech-demo .demo-custom-section {
	height: 369px
}

#custom-speech-demo .custom-speech-heading {
	padding-bottom: 24px;
	margin: 12px 24px
}

#custom-speech-demo .custom-speech-heading.bottom-border {
	border-bottom: 1px solid #505050
}

#custom-speech-demo .bottom-margin {
	margin-bottom: 24px
}

@media(min-width:768px)and (max-width:960px) {
	.speaker-identify {
		padding-bottom: 15px
	}
}

@media(min-width:768px) {
	#custom-speech-demo .card {
		border-top: 1px solid #00abec
	}
	#custom-speech-demo .custom-right-border {
		border-right: 1px solid #505050;
		height: 284px
	}
}

.button-padding {
	padding-left: 1px
}

.header-offset {
	padding-left: 10px
}

@media(min-width:540px) {
	.button-padding {
		padding-left: 6px
	}
	.header-offset {
		padding-left: 60px
	}
}

.video-thumbnail-container {
	border: 2px solid transparent;
	display: block;
	float: left;
	height: 168px;
	margin-left: 36px;
	margin-top: 12px;
	overflow: hidden;
	position: relative;
	width: 300px
}

.video-thumbnail-container:hover {
	border-color: #ba0b93
}

.video-thumbnail-container .thumbnail-image,
.video-thumbnail-container .thumbnail-motion {
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

.video-thumbnail-container .thumbnail-motion {
	z-index: 1
}

.video-thumbnail-container .caption {
	bottom: 12px;
	color: #fff;
	font-size: 18px;
	left: 12px;
	position: absolute;
	right: 12px
}

.tooltip-div-i-container {
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 0
}

.tooltip-demos-info {
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #0078d7;
	color: #fff;
	text-align: center;
	line-height: 10px;
	position: relative;
	display: inline-block
}

.tooltip-demos-info .tooltip-demos-info-content {
	background-color: #303030;
	color: #fff;
	bottom: calc(110%);
	left: 50%;
	line-height: 1.4;
	padding: 3px;
	z-index: 10;
	visibility: hidden;
	width: 250px;
	text-align: left;
	position: absolute;
	opacity: 0;
	transition: opacity 1s
}

.tooltip-demos-info .tooltip-demos-info-content p,
.tooltip-demos-info .tooltip-demos-info-content span {
	margin-left: 5px
}

.tooltip-demos-info .tooltip-demos-info-content li {
	margin: 0
}

.tooltip-demos-info .tooltip-demos-info-content:after {
	background: none;
	border-color: #303030 transparent transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0 0;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: 100%;
	width: 0
}

.tooltip-demos-info:hover .tooltip-demos-info-content,
.tooltip-demos-info:focus .tooltip-demos-info-content {
	visibility: visible;
	opacity: 1
}
.table-naked {
	border: none;
	border-collapse: separate;
	background-color: transparent
}

.table-naked td,
.table-naked tfoot,
.table-naked th,
.table-naked thead,
.table-naked tr {
	border: none;
	font-weight: bold;
	padding: 0

}
.regions-zone .table-naked {
	table-layout: fixed
}

.regions-zone .table-naked tr td {
	padding: 6px 0
}

.regions-zone .table-naked th {
	font-size: 16px;
	font-weight: 600;
	text-transform: none
}

.regions-zone .table-naked td {
	font-size: 14px
}

