Flask
gunicorn
Jinja2
psycopg2
SQLAlchemy
urllib3
psycopg2-binary
ujson
redis
newrelic
uuid
flask-bootstrap
boto3
kafka-python==1.3.5
heroku-kafka
pika
cognitive_face
pillow
pusher
pyopenssl
wtforms
pyjwt