#stylized {
    border: solid 2px #b7ddf2;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F2F7), to(#FEFFFF));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FEFFFF, #E5F2F7);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FEFFFF, #E5F2F7);

    /* IE 10 */
    background: -ms-linear-gradient(top, #FEFFFF, #E5F2F7);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FEFFFF, #E5F2F7);

    /*background: #ebf4fb;*/
}

button {
    clear: both;
    width: 48px;
    height:24px;
    background: #666666 url(../img/share.png) no-repeat;
}