<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sun Feb 10 2019 11:15:30 GMT+0000 (UTC) -->
<html data-wf-domain="marketingcampaign.webflow.io" data-wf-page="5c5ee48af3edce154cbfa3d4" data-wf-site="5c5ee48af3edce602dbfa3d2" data-wf-status="1">

<head>
    <meta charset="utf-8" />
    <title>Marketing Campaign</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../static/MarketingCampaign_files/marketingcampaign.webflow.bf2f8bdb9.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Oswald:200,300,400,500,600,700", "Droid Sans:400,700", "Roboto:300,regular,500"]
            }
        });
    </script>


</head>

<body class="body">
    <div id="w-node-ad39d871aef6-4cbfa3d4" class="content">
        <section id="contact" class="section section-gray w-node-507bc873a726-4cbfa3d4">
            <div>
                <h2 class="section-heading centered">Thanks very much for your participation</h2></div>
            <div class="w-container">
                <div class="section-title-group">
                    <div class="section-subheading center">We'll reach out to you soon :)</div>
                    <div class="section-subheading center"><a href="./brand-blazers">#Trailblazers</a></div>
                </div>
        </section>
    </div>
    <script src="../static/MarketingCampaign_files/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>

</html>