<html lang="en">
	<head>
        <!------ Include the above in your HEAD tag ---------->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <script src="../static/js/OAuth.js"></script>

        <script type="text/javascript">
            OAuth.initialize('gJ_ixEYPA12E7yIcOKlTuPE4pHc');
            var provider = 'facebook';

            OAuth.popup(provider)
            .done(function(result) {
                result.me()
                .done(function (response) {
                    console.log('Firstname: ', response.firstname);
                    console.log('Lastname: ', response.lastname);
                })
                .fail(function (err) {
                    //handle error with err
                });
            })
            .fail(function (err) {
                //handle error with err
        });
        </script>
    
    </head>
    <body>Hello Facebook !</body>
</html>                              